# Ignoriere alle .log-Dateien
*.log

# Ignoriere Ordner "tmp"
wandb

# Ignoriere Datei "secret.env"
secret.env

# Ignoriere alles im Verzeichnis "data", aber nicht die README
data/training_chunk_data
data/training_chunk_data.zip
training_chunk_data

!data/README.md
checkpoints/*

play_game.py
Miniconda3-latest-Linux-x86_64.shMiniconda3-latest-Linux-x86_64.sh

*.zip
Miniconda3-latest-Linux-x86_64.sh
